<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokedex</title>
    <link href="./css/output.css" rel="stylesheet" />
  </head>
  <body>
        <span class="text-xl">Companies</span>
      <div class="md:container md:mx-auto">
  <ul>
    {{range .Pokemons}}
    <li>
        Name: {{.Name}}
        Type: {{.Type}}
    </li>
    {{end}}
    </ul>
      </div>
  </body>
</html>
