<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokedex</title>
    <link href="./css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <header class="bg-red-500 text-white py-6">
      <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">Pokedex</h1>
      </div>
    </header>
    <main class="container mx-auto mt-10">
      <div class="bg-white rounded-xl shadow-md p-6">
        <div class="grid grid-cols-4 gap-6">
          {{range .Results}}
          <div
            class="bg-gray-50 p-4 rounded-lg shadow hover:shadow-md transition-shadow duration-200"
          >
            <a href="/pokemon/{{.Name}}" class="block text-center">
              <img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{extractId .URL}}.png"
                alt="{{.Name}}"
                class="mx-auto mb-2"
              />
              <span class="text-lg font-semibold"
                >#{{extractId .URL}} {{.Name}}</span
              >
            </a>
          </div>
          {{end}}
        </div>
      </div>
    </main>
  </body>
</html>
