<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pokedex</title>
    <link href="../css/output.css" rel="stylesheet" />
  </head>
<body class="bg-gray-100">
    <header class="bg-red-500 text-white py-6">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold">Pokedex</h1>
        </div>
    </header>
    
    <main class="container mx-auto mt-10">
        <a href="/" class="text-gray-500 hover:underline">&larr; Back</a>
        <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-md overflow-hidden">
            <div class="p-8 text-center">
                <div class="flex justify-center mb-4">
                    <img class="h-48 w-48 object-cover" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{.ID}}.png" alt="{{.Name}}">
                </div>
                <h2 class="text-3xl font-bold mb-2">{{.Name}}</h2>
                <div class="uppercase tracking-wide text-sm text-yellow-500 font-semibold mb-4 flex-row">
                  {{range .Types}}
                  <span>{{.Type.Name}}</span>
                  {{end}}
                </div>
                <h3 class="text-xl font-semibold mb-2">Stats:</h3>
                <div class="bg-gray-200 rounded-lg p-4 mb-4">
                    <ul class="text-left">
                        {{range .Stats}}
                        <li class="py-1"><strong>{{.Stat.Name}}:</strong> {{.BaseStat}}</li>
                        {{end}}
                    </ul>
                </div>
            <div id="attacks" class="max-h-96 overflow-y-auto">
            <h3 class="text-xl font-semibold mb-2">Moves:</h3>
              <ul>
                {{range .Moves}}
                <li class="bg-gray-200 p-2 my-2 rounded">{{.Move.Name}}</li>
                {{end}}
              </ul>
            </div>
        </div>
    </main>
</body>
</html>
